<div class="h-screen flex">
  <div class="flex-1 flex flex-col min-w-0 bg-white">
    <div class="flex-shrink-0 border-b">
      <header>
        <div class="px-6">
          <div class="flex justify-between items-center py-2">
            <div class="sm:flex sm:items-center">
              <h2 class="text-2xl font-semibold text-gray-900 leading-tight">
                IQ-ME Kanban Board - All Issues
              </h2>
            </div>
            <div class="flex items-center">
              <button
                (click)="addTask()"
                class="flex items-center ml-5 pl-2 pr-4 py-2 text-sm text-white bg-gray-800 hover:bg-gray-700 rounded-md font-medium"
              >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none">
                  <path
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    d="M12 7v10m5-5H7"
                  />
                </svg>
                <span class="ml-1">Add task</span>
              </button>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="overflow-auto flex-1">
      <div id="board" class="inline-flex h-full overflow-hidden px-3 pb-3 pt-5">
        <div
          *ngFor="let column of columns$ | async"
          class="flex-shrink-0 flex flex-col py-3 w-80 mr-3 bg-slate-200 rounded-md"
        >
          <h3
            class="px-3 pb-3 flex-shrink-0 text-sm font-semibold text-gray-700"
          >
            {{ column.title }}
          </h3>
          <div class="flex-1 min-h-0 pt-2 overflow-y-auto">
            <div
              class="pb-3 px-3 h-full"
              cdkDropList
              [id]="column.id"
              [cdkDropListData]="column.tasks"
              [cdkDropListConnectedTo]="['todo', 'inprogress', 'done']"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let card of column.tasks"
                cdkDrag
                [cdkDragData]="card"
              >
                <div
                  class="card-placeholder bg-slate-300 w-full h-24 mb-5 !opacity-100 rounded-md"
                  *cdkDragPlaceholder
                ></div>
                <div
                  class="block p-5 bg-white mb-3 rounded-md shadow cursor-grab hover:bg-slate-100"
                  (click)="editTask(card)"
                >
                  <div class="flex justify-between">
                    <p
                      class="text-sm font-medium text-gray-900 leading-snug"
                      [class.line-through]="column.id == 'done'"
                    >
                      {{ card.title }}
                    </p>
                  </div>
                  <div class="flex justify-between items-baseline">
                    <div class="mt-2">
                      <span
                        class="px-2 py-1 inline-flex items-center leading-tight bg-teal-100 rounded"
                        *ngIf="card.taskType === 'featureRequest'"
                      >
                        <svg
                          class="h-2 w-2 text-teal-500"
                          viewBox="0 0 8 8"
                          fill="currentColor"
                        >
                          <circle cx="4" cy="4" r="4" />
                        </svg>
                        <span class="ml-2 text-sm font-medium text-teal-800">
                          Feature Request
                        </span>
                      </span>
                      <span
                        class="px-2 py-1 inline-flex items-center leading-tight bg-pink-100 rounded"
                        *ngIf="card.taskType === 'bug'"
                      >
                        <svg
                          class="h-2 w-2 text-pink-500"
                          viewBox="0 0 8 8"
                          fill="currentColor"
                        >
                          <circle cx="4" cy="4" r="4" />
                        </svg>
                        <span class="ml-2 text-sm font-medium text-pink-800">
                          Bug
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
